* {
    box-sizing: border-box;
}

.picture {
    float: left;
    width: 60%;
    padding: 0 20px;
    overflow: hidden;
}

.subtitle {
    background-color: lightgreen;
    float: left;
    width: 59%;
    padding: 10px 15px;
    margin-top: 7px;
}

@media only screen and (min-width:2000px) {
    .picture {
        width: 55%;
    }
    .subtitle {
        width: 54%;
        float: left;
    }
}

@media only screen and (max-width:800px) {
    /* For tablets: */
    .picture {
        width: 80%;
        padding: 0;
    }
    .subtitle {
        width: 80%;
    }
}

@media only screen and (max-width:500px) {
    /* For mobile phones: */
    .picture,
    .subtitle {
        width: 100%;
    }
}